@import "tailwindcss";

@theme {
  --color-primary: #080808;
  --color-secondary: #0E0E0E;
  --color-tertiary: #0D0D0D;
  --color-border: #191919;
  --color-borderLight: #121212;
  --color-text: #EDEDED;
  --color-textLight: #515151;
}

@layer base {
  body {
    overflow-x: hidden;
  }
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Custom Dark Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-tertiary); 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-border); 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-textLight); 
  }
}